<div class="container" style='width: 1200px'>
  <h3>Hien thi thong tin user</h3>
  <p>Name: ................</p>
  <p>Email: ................</p>
  <p>Ngày sinh: ................</p>
  <p>Địa chỉ: ................</p>
  <p>Số điện thoại: ................</p>
  <p>Giới tính: ................</p>
  <p>Tình trạng tiêm vacine: ................</p>
  <p>Ngôn ngữ: .........</p>

  <%= link_to 'Trở lại', users_path, class: 'btn btn-secondary' %>
</div>

